<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="ftp" class="com.kangyonggan.archetype.cms.biz.util.Ftp">
        <property name="path" value="${cms.ftp.path}"></property>
        <property name="ip" value="${cms.ftp.ip}"></property>
        <property name="port" value="${cms.ftp.port}"></property>
        <property name="username" value="${cms.ftp.username}"></property>
        <property name="password" value="${cms.ftp.password}"></property>
    </bean>

</beans>